:root{
    font-size: 20px;
    text-align: center;
}

header{
    font-size: 2rem;
    background-color: bisque;
}

body{
    margin-inline: auto;
    
}

div{
    padding-inline: 20rem;
    padding-block: 3rem;
}

label, input, button{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-inline: .5rem;
}

