:root{
    font-size: 20px;
    text-align: center;
}

header{
    font-size: 2rem;
    background-color: bisque;
}

body{
    margin-inline: auto;
    background-color: rgb(162, 125, 101);
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
div{
    padding-inline: 2rem;
    padding-block: 3rem;
    border: 2px solid black;
    margin: 2rem;
    background-color: bisque;
    width: 70%;
}

label, input, button{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-inline: .5rem;
}

span{
    display: block;
}